# Can we determine the best-performing foreign player in the 2020 Indian Premier League season?

In [1]:
#IMPORT FUNCTIONS (NumPy, Panda, Math, MatPlotLib)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

######################################################################################################

#Basic Statistical Functions:

def standardDeviation(xList, xAvg):
    n = len(xList)
    numerator = 0
    for i in range(n):
        if math.isnan(xList[i]) == False:
            numerator = numerator + ((xList[i] - xAvg)**2)
    fraction = (1.0 * numerator) / n
    stdDev = np.sqrt(fraction)
    return stdDev
    
def square(x):
    return x * x

def divideTwoLists(xList, yList):
    if len(xList) == len(yList):
        zList = [None] * len(xList)
        for i in range(len(xList)):
            quotient = xList[i] / yList[i]
            zList[i] = quotient
    return zList

def findMean(lst):
    avg = 0
    n = len(lst)
    for value in lst:
        if math.isnan(value) == False:
            avg = avg + value
    avg = (1.0 * avg) / n
    return avg

def findZScore(lst, avg, sd):
    zSL = [None] * len(lst)
    for i in range(len(lst)):
        term = lst[i] - avg
        zScore = term / sd
        zSL[i] = zScore
        
    return zSL
    
def pearsonNum(xList, yList):
    if len(xList) == len(yList):
        n = len(xList)
        xyList = [None] * n
        for i in range(n):
            xyList[i] = xList[i] * yList[i]
        numerator = (n * np.sum(xyList)) - np.sum(xList) - np.sum(yList)
        return numerator
    else:
        return "There's Been An Error!"
    
def pearsonDenom(xList, yList):
    if len(xList) == len(yList):
        n = len(xList)
        xListS = sum(map(lambda x: square(x), xList))
        yListS = sum(map(lambda y: square(y), yList))
        
        xLeft = n * (xListS)
        yLeft = n * (yListS)
        
        xRight = square(np.sum(xList))
        yRight = square(np.sum(yList))
        
        denominator = (xLeft - xRight) * (yLeft - yRight)
        return denominator        
    else:
        return "There's Been An Error!"
    
def pearsonCoeff(xList, yList):
    return pearsonNum(xList, yList) / pearsonDenom(xList, yList)

# Adding Table of Foreign Players

Input file is a CSV file containing statistics on every foreign player involved in 2020 IPL season. Due to the COVID-19 global pandemic, and other extraneous factors, many players pulled out, so I assigned a new table to contain the statistics of players that played in at least 5 games.

In [18]:
csvURL = 'https://raw.githubusercontent.com/gprasad125/cricketProject/main/fullStatistics.csv?token=AQETVXKYXZDE4VTURPG6ZRC7X35A6'
foreignPlayers = pd.read_csv(csvURL)

activePlayers = foreignPlayers[foreignPlayers["Matches Played"] > 5]
activePlayers

,Player Name,Nationality,Team,Matches Played,Batting Innings,Runs Scored,Batting Average,Strike Rate,Bowling Innings,Overs Delivered,Wickets,Bowling Average,Economy Rate,Bowling SR
0,AB de Villiers,South Africa,Royal Challengers Bangalore,15,14,454,45.40,158.74,0,0.0,0,0.00,0.00,0.0
1,Aaron Finch,Australia,Royal Challengers Bangalore,15,12,268,22.33,111.20,0,0.0,0,0.00,0.00,0.0
3,Isuru Udana,Sri Lanka,Royal Challengers Bangalore,10,4,15,5.00,136.36,10,29.0,8,35.25,9.72,21.7
6,Chris Morris,South Africa,Royal Challengers Bangalore,9,5,34,8.50,161.90,9,31.4,11,19.09,6.63,17.2
9,Eoin Morgan,England,Kolkata Knight Riders,14,14,418,41.80,138.41,0,0.0,0,0.00,0.00,0.0
10,Andre Russell,West Indies,Kolkata Knight Riders,10,9,117,13.00,144.44,7,18.0,6,29.16,9.72,18.0
11,Sunil Narine,West Indies,Kolkata Knight Riders,10,9,121,13.44,142.35,10,38.0,5,60.40,7.94,45.6
16,Pat Cummins,Australia,Kolkata Knight Riders,14,11,146,20.85,128.07,14,52.0,17,20.94,6.84,18.3
18,Steve Smith,Australia,Rajasthan Royals,14,14,311,25.91,131.22,0,0.0,0,0.00,0.00,0.0
20,Ben Stokes,England,Rajasthan Royals,8,8,285,40.71,142.50,6,15.0,2,77.00,10.26,45.0
21,Jos Buttler,England,Rajasthan Royals,13,12,328,32.80,144.49,0,0.0,0,0.00,0.00,0.0
22,Jofra Archer,England,Rajasthan Royals,14,10,113,18.83,179.36,14,55.4,20,18.25,6.55,16.7
26,Chris Gayle,West Indies,Kings XI Punjab,7,7,288,41.14,137.14,1,0.5,0,NaN,10.37,NaN
27,Glenn Maxwell,Australia,Kings XI Punjab,13,11,108,15.42,101.88,7,21.0,3,56.33,8.04,42.0
29,Nicholas Pooran,West Indies,Kings XI Punjab,14,14,353,35.30,169.71,0,0.0,0,0.00,0.00,0.0
32,Sheldon Cottrell,West Indies,Kings XI Punjab,6,1,0,0.00,0.00,6,20.0,6,29.33,8.80,20.0
33,Shane Watson,Australia,Chennai Super Kings,11,11,299,29.90,121.05,0,0.0,0,0.00,0.00,0.0
34,Faf du Plessis,South Africa,Chennai Super Kings,13,13,449,40.81,140.75,0,0.0,0,0.00,0.00,0.0
35,Dwayne Bravo,West Indies,Chennai Super Kings,6,2,7,3.50,116.66,5,18.0,5,31.40,8.72,21.6
36,Sam Curran,England,Chennai Super Kings,14,11,186,23.25,131.91,13,42.0,13,26.46,8.19,19.3
43,Kieron Pollard,West Indies,Mumbai Indians,16,12,268,53.60,191.42,11,21.0,4,47.50,9.04,31.5
44,Quinton de Kock,South Africa,Mumbai Indians,16,16,503,35.92,140.50,0,0.0,0,0.00,0.00,0.0
47,Trent Boult,New Zealand,Mumbai Indians,15,1,0,0.00,0.00,15,57.2,25,18.28,7.97,13.7
48,Nathan Coulter-Nile,Australia,Mumbai Indians,7,2,25,25.00,166.66,7,26.0,5,41.20,7.92,31.2
49,James Pattinson,Australia,Mumbai Indians,10,2,15,15.00,115.38,10,35.3,11,29.09,9.01,19.3
50,Kane Williamson,New Zealand,Sunrisers Hyderabad,12,11,317,45.28,133.75,1,2.0,0,NaN,12.00,NaN
51,David Warner,Australia,Sunrisers Hyderabad,16,16,548,39.14,134.64,1,0.1,0,NaN,12.00,NaN
54,Jonny Bairstow,England,Sunrisers Hyderabad,11,11,345,31.36,126.83,0,0.0,0,0.00,0.00,0.0
56,Rashid Khan,Afghanistan,Sunrisers Hyderabad,16,7,35,8.75,116.66,16,64.0,20,17.20,5.37,19.2
58,Jason Holder,West Indies,Sunrisers Hyderabad,7,4,66,33.00,124.52,7,28.0,14,16.64,8.32,12.0
59,Shimron Hetmeyer,West Indies,Dehli Capitals,12,11,185,21.12,148.00,0,0.0,0,0.00,0.00,0.0
61,Marcus Stoinis,Australia,Dehli Capitals,17,17,352,25.14,148.52,13,29.4,13,21.76,9.53,13.6
66,Kagiso Rabada,South Africa,Dehli Capitals,17,8,56,14.00,114.28,17,65.4,30,18.26,8.34,13.1
67,Anrich Nortje,South Africa,Dehli Capitals,16,5,7,7.00,116.66,16,61.0,22,23.27,8.39,16.6

Here are the statistics measured for each player, and what type of data type they are measured in.

Some important cricket-specific notes:
    - A player's Batting Average is calculated as (total # of runs scored / total # of innings the player got out)
    - A player's Strike Rate is calculated as (total # of runs scored / total # of balls faced) 
    - An "over" is a set of six balls, delivered by one bowler at a time.
    - A player's Bowling Average is calculated as (total # of wickets taken / total # of runs conceded)
    - A player's Economy Rate is calculated as (total # of runs conceded / total # of overs delivered)
    - A player's Bowling SR is calculated as (total # of wickets taken / total # of balls delivered)
    
Some of these statistics, such as balls delievered, or innings a player got out, were not included in the dataset, because other statistics utilize these statistics as part of their calculation.

Below we can see the different statistics measured, and the types of data values they carry.

In [6]:
activePlayers.dtypes

Player Name         object
Nationality         object
Team                object
Matches Played       int64
Batting Innings      int64
Runs Scored          int64
Batting Average    float64
Strike Rate        float64
Bowling Innings      int64
Overs Delivered    float64
Wickets              int64
Bowling Average    float64
Economy Rate       float64
Bowling SR         float64
dtype: object

# Defining Batsmen, Bowlers, and All-Rounders

Cricketers perform one of three distinct roles in the game. They can be batsmen (those who score runs for the team), bowlers (those who take wickets and try and limit the other team's score), or all-rounders (those who can both bat and bowl serviceably). 

Below, we use the table's data to divide the players into the categories they perform:
- Batsman are defined as "Players who spent over 70% of their total matches batting, and less than 30% of their total matches bowling." We also will drop the bowling statistics for these players as we are only interested in their batting statistics.


- Bowlers are defined as "Players who spent over 70% of their total matches bowling, and less than 50% of their total matches batting." We are taking this 50% cutoff for the greater likelihood than any bowler will bat, as compared to any batter bowling. We will also drop the batting statistics for these players, as we are only interested in their batting statistics. 


- All-Rounders are defined as "Players who spent over 50% of their total matches bowling, and over 50% of their total matches batting." We will not drop any stats as we are interested in both types of statistics for these type of players.

Something that will help us define the above categories will be finding the percentage of matches played a particular player spent batting or bowling.

In [29]:
matchesPlayed = activePlayers["Matches Played"].tolist()
battingInnings = activePlayers["Batting Innings"].tolist()
bowlingInnings = activePlayers["Bowling Innings"].tolist()

percentageBatting = divideTwoLists(battingInnings, matchesPlayed)
percentageBowling = divideTwoLists(bowlingInnings, matchesPlayed)

activePlayers.insert(5, "Percent of Matches Batting", percentageBatting)
activePlayers.insert(10, "Percent of Matches Bowling", percentageBowling)

activePlayers

,Player Name,Nationality,Team,Matches Played,Batting Innings,Percent of Matches Batting,Runs Scored,Batting Average,Strike Rate,Bowling Innings,Percent of Matches Bowling,Overs Delivered,Wickets,Bowling Average,Economy Rate,Bowling SR
0,AB de Villiers,South Africa,Royal Challengers Bangalore,15,14,0.933333,454,45.40,158.74,0,0.000000,0.0,0,0.00,0.00,0.0
1,Aaron Finch,Australia,Royal Challengers Bangalore,15,12,0.800000,268,22.33,111.20,0,0.000000,0.0,0,0.00,0.00,0.0
3,Isuru Udana,Sri Lanka,Royal Challengers Bangalore,10,4,0.400000,15,5.00,136.36,10,1.000000,29.0,8,35.25,9.72,21.7
6,Chris Morris,South Africa,Royal Challengers Bangalore,9,5,0.555556,34,8.50,161.90,9,1.000000,31.4,11,19.09,6.63,17.2
9,Eoin Morgan,England,Kolkata Knight Riders,14,14,1.000000,418,41.80,138.41,0,0.000000,0.0,0,0.00,0.00,0.0
10,Andre Russell,West Indies,Kolkata Knight Riders,10,9,0.900000,117,13.00,144.44,7,0.700000,18.0,6,29.16,9.72,18.0
11,Sunil Narine,West Indies,Kolkata Knight Riders,10,9,0.900000,121,13.44,142.35,10,1.000000,38.0,5,60.40,7.94,45.6
16,Pat Cummins,Australia,Kolkata Knight Riders,14,11,0.785714,146,20.85,128.07,14,1.000000,52.0,17,20.94,6.84,18.3
18,Steve Smith,Australia,Rajasthan Royals,14,14,1.000000,311,25.91,131.22,0,0.000000,0.0,0,0.00,0.00,0.0
20,Ben Stokes,England,Rajasthan Royals,8,8,1.000000,285,40.71,142.50,6,0.750000,15.0,2,77.00,10.26,45.0
21,Jos Buttler,England,Rajasthan Royals,13,12,0.923077,328,32.80,144.49,0,0.000000,0.0,0,0.00,0.00,0.0
22,Jofra Archer,England,Rajasthan Royals,14,10,0.714286,113,18.83,179.36,14,1.000000,55.4,20,18.25,6.55,16.7
26,Chris Gayle,West Indies,Kings XI Punjab,7,7,1.000000,288,41.14,137.14,1,0.142857,0.5,0,NaN,10.37,NaN
27,Glenn Maxwell,Australia,Kings XI Punjab,13,11,0.846154,108,15.42,101.88,7,0.538462,21.0,3,56.33,8.04,42.0
29,Nicholas Pooran,West Indies,Kings XI Punjab,14,14,1.000000,353,35.30,169.71,0,0.000000,0.0,0,0.00,0.00,0.0
32,Sheldon Cottrell,West Indies,Kings XI Punjab,6,1,0.166667,0,0.00,0.00,6,1.000000,20.0,6,29.33,8.80,20.0
33,Shane Watson,Australia,Chennai Super Kings,11,11,1.000000,299,29.90,121.05,0,0.000000,0.0,0,0.00,0.00,0.0
34,Faf du Plessis,South Africa,Chennai Super Kings,13,13,1.000000,449,40.81,140.75,0,0.000000,0.0,0,0.00,0.00,0.0
35,Dwayne Bravo,West Indies,Chennai Super Kings,6,2,0.333333,7,3.50,116.66,5,0.833333,18.0,5,31.40,8.72,21.6
36,Sam Curran,England,Chennai Super Kings,14,11,0.785714,186,23.25,131.91,13,0.928571,42.0,13,26.46,8.19,19.3
43,Kieron Pollard,West Indies,Mumbai Indians,16,12,0.750000,268,53.60,191.42,11,0.687500,21.0,4,47.50,9.04,31.5
44,Quinton de Kock,South Africa,Mumbai Indians,16,16,1.000000,503,35.92,140.50,0,0.000000,0.0,0,0.00,0.00,0.0
47,Trent Boult,New Zealand,Mumbai Indians,15,1,0.066667,0,0.00,0.00,15,1.000000,57.2,25,18.28,7.97,13.7
48,Nathan Coulter-Nile,Australia,Mumbai Indians,7,2,0.285714,25,25.00,166.66,7,1.000000,26.0,5,41.20,7.92,31.2
49,James Pattinson,Australia,Mumbai Indians,10,2,0.200000,15,15.00,115.38,10,1.000000,35.3,11,29.09,9.01,19.3
50,Kane Williamson,New Zealand,Sunrisers Hyderabad,12,11,0.916667,317,45.28,133.75,1,0.083333,2.0,0,NaN,12.00,NaN
51,David Warner,Australia,Sunrisers Hyderabad,16,16,1.000000,548,39.14,134.64,1,0.062500,0.1,0,NaN,12.00,NaN
54,Jonny Bairstow,England,Sunrisers Hyderabad,11,11,1.000000,345,31.36,126.83,0,0.000000,0.0,0,0.00,0.00,0.0
56,Rashid Khan,Afghanistan,Sunrisers Hyderabad,16,7,0.437500,35,8.75,116.66,16,1.000000,64.0,20,17.20,5.37,19.2
58,Jason Holder,West Indies,Sunrisers Hyderabad,7,4,0.571429,66,33.00,124.52,7,1.000000,28.0,14,16.64,8.32,12.0
59,Shimron Hetmeyer,West Indies,Dehli Capitals,12,11,0.916667,185,21.12,148.00,0,0.000000,0.0,0,0.00,0.00,0.0
61,Marcus Stoinis,Australia,Dehli Capitals,17,17,1.000000,352,25.14,148.52,13,0.764706,29.4,13,21.76,9.53,13.6
66,Kagiso Rabada,South Africa,Dehli Capitals,17,8,0.470588,56,14.00,114.28,17,1.000000,65.4,30,18.26,8.34,13.1
67,Anrich Nortje,South Africa,Dehli Capitals,16,5,0.312500,7,7.00,116.66,16,1.000000,61.0,22,23.27,8.39,16.6

Defining Batsmen

In [30]:
batsmen = activePlayers.loc[(activePlayers["Percent of Matches Batting"] > 0.7) & (activePlayers["Percent of Matches Bowling"] < 0.3)].drop(["Bowling Innings","Percent of Matches Bowling", "Overs Delivered",  "Wickets", "Bowling Average", "Economy Rate", "Bowling SR"], axis = 1)
batsmen

,Player Name,Nationality,Team,Matches Played,Batting Innings,Percent of Matches Batting,Runs Scored,Batting Average,Strike Rate
0,AB de Villiers,South Africa,Royal Challengers Bangalore,15,14,0.933333,454,45.40,158.74
1,Aaron Finch,Australia,Royal Challengers Bangalore,15,12,0.800000,268,22.33,111.20
9,Eoin Morgan,England,Kolkata Knight Riders,14,14,1.000000,418,41.80,138.41
18,Steve Smith,Australia,Rajasthan Royals,14,14,1.000000,311,25.91,131.22
21,Jos Buttler,England,Rajasthan Royals,13,12,0.923077,328,32.80,144.49
26,Chris Gayle,West Indies,Kings XI Punjab,7,7,1.000000,288,41.14,137.14
29,Nicholas Pooran,West Indies,Kings XI Punjab,14,14,1.000000,353,35.30,169.71
33,Shane Watson,Australia,Chennai Super Kings,11,11,1.000000,299,29.90,121.05
34,Faf du Plessis,South Africa,Chennai Super Kings,13,13,1.000000,449,40.81,140.75
44,Quinton de Kock,South Africa,Mumbai Indians,16,16,1.000000,503,35.92,140.50
50,Kane Williamson,New Zealand,Sunrisers Hyderabad,12,11,0.916667,317,45.28,133.75
51,David Warner,Australia,Sunrisers Hyderabad,16,16,1.000000,548,39.14,134.64
54,Jonny Bairstow,England,Sunrisers Hyderabad,11,11,1.000000,345,31.36,126.83
59,Shimron Hetmeyer,West Indies,Dehli Capitals,12,11,0.916667,185,21.12,148.00

Defining Bowlers

In [31]:
bowlers = activePlayers.loc[(activePlayers["Percent of Matches Bowling"] > 0.7) & (activePlayers["Percent of Matches Batting"] < 0.5)].drop(["Batting Innings", "Percent of Matches Batting", "Runs Scored","Batting Average", "Strike Rate"], axis = 1)
bowlers

,Player Name,Nationality,Team,Matches Played,Bowling Innings,Percent of Matches Bowling,Overs Delivered,Wickets,Bowling Average,Economy Rate,Bowling SR
3,Isuru Udana,Sri Lanka,Royal Challengers Bangalore,10,10,1.000000,29.0,8,35.25,9.72,21.7
32,Sheldon Cottrell,West Indies,Kings XI Punjab,6,6,1.000000,20.0,6,29.33,8.80,20.0
35,Dwayne Bravo,West Indies,Chennai Super Kings,6,5,0.833333,18.0,5,31.40,8.72,21.6
47,Trent Boult,New Zealand,Mumbai Indians,15,15,1.000000,57.2,25,18.28,7.97,13.7
48,Nathan Coulter-Nile,Australia,Mumbai Indians,7,7,1.000000,26.0,5,41.20,7.92,31.2
49,James Pattinson,Australia,Mumbai Indians,10,10,1.000000,35.3,11,29.09,9.01,19.3
56,Rashid Khan,Afghanistan,Sunrisers Hyderabad,16,16,1.000000,64.0,20,17.20,5.37,19.2
66,Kagiso Rabada,South Africa,Dehli Capitals,17,17,1.000000,65.4,30,18.26,8.34,13.1
67,Anrich Nortje,South Africa,Dehli Capitals,16,16,1.000000,61.0,22,23.27,8.39,16.6

Defining All-Rounders

In [32]:
allRounders = activePlayers.loc[(activePlayers["Percent of Matches Batting"] >= 0.5) & (activePlayers["Percent of Matches Bowling"] >= 0.5)]
allRounders

,Player Name,Nationality,Team,Matches Played,Batting Innings,Percent of Matches Batting,Runs Scored,Batting Average,Strike Rate,Bowling Innings,Percent of Matches Bowling,Overs Delivered,Wickets,Bowling Average,Economy Rate,Bowling SR
6,Chris Morris,South Africa,Royal Challengers Bangalore,9,5,0.555556,34,8.50,161.90,9,1.000000,31.4,11,19.09,6.63,17.2
10,Andre Russell,West Indies,Kolkata Knight Riders,10,9,0.900000,117,13.00,144.44,7,0.700000,18.0,6,29.16,9.72,18.0
11,Sunil Narine,West Indies,Kolkata Knight Riders,10,9,0.900000,121,13.44,142.35,10,1.000000,38.0,5,60.40,7.94,45.6
16,Pat Cummins,Australia,Kolkata Knight Riders,14,11,0.785714,146,20.85,128.07,14,1.000000,52.0,17,20.94,6.84,18.3
20,Ben Stokes,England,Rajasthan Royals,8,8,1.000000,285,40.71,142.50,6,0.750000,15.0,2,77.00,10.26,45.0
22,Jofra Archer,England,Rajasthan Royals,14,10,0.714286,113,18.83,179.36,14,1.000000,55.4,20,18.25,6.55,16.7
27,Glenn Maxwell,Australia,Kings XI Punjab,13,11,0.846154,108,15.42,101.88,7,0.538462,21.0,3,56.33,8.04,42.0
36,Sam Curran,England,Chennai Super Kings,14,11,0.785714,186,23.25,131.91,13,0.928571,42.0,13,26.46,8.19,19.3
43,Kieron Pollard,West Indies,Mumbai Indians,16,12,0.750000,268,53.60,191.42,11,0.687500,21.0,4,47.50,9.04,31.5
58,Jason Holder,West Indies,Sunrisers Hyderabad,7,4,0.571429,66,33.00,124.52,7,1.000000,28.0,14,16.64,8.32,12.0
61,Marcus Stoinis,Australia,Dehli Capitals,17,17,1.000000,352,25.14,148.52,13,0.764706,29.4,13,21.76,9.53,13.6

Checking that all players are accounted for

In [33]:
#Getting the individual names for each category: Batsmen, Bowlers, All-Rounders
batNames = batsmen["Player Name"].tolist()
bowlNames = bowlers["Player Name"].tolist()
allRNames = allRounders["Player Name"].tolist()

#Getting all the names from the full table
names = activePlayers["Player Name"].tolist()

#Checking each category's list of names vs the total list of names by removing duplicates

count = len(names) #the number of active players 

for name in names:
    if name in batNames:
        count = count - 1
    elif name in bowlNames:
        count = count - 1
    elif name in allRNames:
        count = count - 1

#If all names from the full table are accounted and no player appears in two tables, this should yield True
count == 0

True

# Batsmen Calculations

Let's begin with the calculations for the batsmen. There are three categories we measure:
    - Runs Scored, a measure of impact: Did this player contribute a large amount to the team's overall season?
    - Batting Average, a measure of consistency: Did this player perform well in most matches?
    - Strike Rate, a measure of efficiency: How quickly did this player score his runs?
    
A good place to start would be to calculate the means and medians of each value.

In [34]:
meanRuns = findMean(batsmen["Runs Scored"].tolist())
meanBatAvg = findMean(batsmen["Batting Average"].tolist())
meanSR = findMean(batsmen["Strike Rate"].tolist())

means = [meanRuns, meanBatAvg, meanSR]
means

[361.85714285714283, 34.87214285714286, 138.31642857142856]

In [35]:
medianRuns = np.median(batsmen["Runs Scored"].tolist())
medianBatAvg = np.nanmedian(batsmen["Batting Average"].tolist())
medianSR = np.nanmedian(batsmen["Strike Rate"].tolist())

medians = [medianRuns, medianBatAvg, medianSR]
medians

[336.5, 35.61, 137.77499999999998]

We can use the mean to calculate the Standard Deviation and find which players performed well-above average in all three recorded statistics.

In [36]:
sdRuns = standardDeviation(batsmen["Runs Scored"].tolist(), means[0])
sdBatAvg = standardDeviation(batsmen["Batting Average"].tolist(), means[1])
sdSR = standardDeviation(batsmen["Strike Rate"].tolist(), means[2])

stdDevs = [sdRuns, sdBatAvg, sdSR]
stdDevs

[96.14264487346553, 7.696438117329182, 14.133905843317168]

Now that we have the Standard Deviations, we can add a column to the table that tells roughly how many SDs above the mean someone's particular score is using a z-Score measure.

In [37]:
zScoreRuns = findZScore(batsmen["Runs Scored"].tolist(), means[0], stdDevs[0])
zScoreBA = findZScore(batsmen["Batting Average"].tolist(), means[1], stdDevs[1])
zScoreSR = findZScore(batsmen["Strike Rate"].tolist(), means[2], stdDevs[2])

batsmen.insert(9, "Runs Scored Z Scores", zScoreRuns)
batsmen.insert(10, "Batting Avg. Z Scores", zScoreBA)
batsmen.insert(11, "Strike Rates Z Scores", zScoreSR)

batsmen

,Player Name,Nationality,Team,Matches Played,Batting Innings,Percent of Matches Batting,Runs Scored,Batting Average,Strike Rate,Runs Scored Z Scores,Batting Avg. Z Scores,Strike Rates Z Scores
0,AB de Villiers,South Africa,Royal Challengers Bangalore,15,14,0.933333,454,45.40,158.74,0.958397,1.367887,1.445005
1,Aaron Finch,Australia,Royal Challengers Bangalore,15,12,0.800000,268,22.33,111.20,-0.976228,-1.629604,-1.918538
9,Eoin Morgan,England,Kolkata Knight Riders,14,14,1.000000,418,41.80,138.41,0.583954,0.900138,0.006620
18,Steve Smith,Australia,Rajasthan Royals,14,14,1.000000,311,25.91,131.22,-0.528976,-1.164453,-0.502085
21,Jos Buttler,England,Rajasthan Royals,13,12,0.923077,328,32.80,144.49,-0.352155,-0.269234,0.436792
26,Chris Gayle,West Indies,Kings XI Punjab,7,7,1.000000,288,41.14,137.14,-0.768204,0.814384,-0.083234
29,Nicholas Pooran,West Indies,Kings XI Punjab,14,14,1.000000,353,35.30,169.71,-0.092125,0.055592,2.221153
33,Shane Watson,Australia,Chennai Super Kings,11,11,1.000000,299,29.90,121.05,-0.653790,-0.646032,-1.221632
34,Faf du Plessis,South Africa,Chennai Super Kings,13,13,1.000000,449,40.81,140.75,0.906391,0.771507,0.172180
44,Quinton de Kock,South Africa,Mumbai Indians,16,16,1.000000,503,35.92,140.50,1.468057,0.136148,0.154492
50,Kane Williamson,New Zealand,Sunrisers Hyderabad,12,11,0.916667,317,45.28,133.75,-0.466569,1.352295,-0.323083
51,David Warner,Australia,Sunrisers Hyderabad,16,16,1.000000,548,39.14,134.64,1.936111,0.554524,-0.260114
54,Jonny Bairstow,England,Sunrisers Hyderabad,11,11,1.000000,345,31.36,126.83,-0.175335,-0.456334,-0.812686
59,Shimron Hetmeyer,West Indies,Dehli Capitals,12,11,0.916667,185,21.12,148.00,-1.839529,-1.786819,0.685131

Now that we know the zScores for each of our three categories, we can eliminate batsmen who have negative zScores in any of the categories, since they performed below average in the 2020 season.

In [38]:
batsmen = batsmen.loc[(batsmen["Runs Scored Z Scores"] > 0) & (batsmen["Batting Avg. Z Scores"] > 0) & (batsmen["Strike Rates Z Scores"] > 0)]
batsmen

,Player Name,Nationality,Team,Matches Played,Batting Innings,Percent of Matches Batting,Runs Scored,Batting Average,Strike Rate,Runs Scored Z Scores,Batting Avg. Z Scores,Strike Rates Z Scores
0,AB de Villiers,South Africa,Royal Challengers Bangalore,15,14,0.933333,454,45.40,158.74,0.958397,1.367887,1.445005
9,Eoin Morgan,England,Kolkata Knight Riders,14,14,1.000000,418,41.80,138.41,0.583954,0.900138,0.006620
34,Faf du Plessis,South Africa,Chennai Super Kings,13,13,1.000000,449,40.81,140.75,0.906391,0.771507,0.172180
44,Quinton de Kock,South Africa,Mumbai Indians,16,16,1.000000,503,35.92,140.50,1.468057,0.136148,0.154492

# Bowlers Calculations

Let's begin with the calculations for the bowlers. There are three categories we measure:
    
A good place to start would be to calculate the means and medians of each value.

In [39]:
meanWickets = findMean(bowlers["Wickets"].tolist())
meanBowlAvg = findMean(bowlers["Bowling Average"].tolist())
meanEconomy = findMean(bowlers["Economy Rate"].tolist())
meanBowlSR = findMean(bowlers["Bowling SR"].tolist())

meanBowl = [meanWickets, meanBowlAvg, meanEconomy, meanBowlSR]
meanBowl

[14.666666666666666, 27.03111111111111, 8.248888888888889, 19.599999999999998]

In [40]:
medianWickets = np.nanmedian(bowlers["Wickets"].tolist())
medianBowlAvg = np.nanmedian(bowlers["Bowling Average"].tolist())
medianEconomy = np.nanmedian(bowlers["Economy Rate"].tolist())
medianBowlSR = np.nanmedian(bowlers["Bowling SR"].tolist())

medianBowl = [medianWickets, medianBowlAvg, medianEconomy, medianBowlSR]
medianBowl

[11.0, 29.09, 8.39, 19.3]

In [41]:
sdWickets = standardDeviation(bowlers["Wickets"].tolist(), meanBowl[0])
sdBowlAvg = standardDeviation(bowlers["Bowling Average"].tolist(), meanBowl[1])
sdEconomy = standardDeviation(bowlers["Economy Rate"].tolist(), meanBowl[2])
sdBowlSR = standardDeviation(bowlers["Bowling SR"].tolist(), meanBowl[3])

stdDevBowl = [sdWickets, sdBowlAvg, sdEconomy, sdBowlSR]
stdDevBowl

[9.092121131323903, 7.896762268232953, 1.143643732835677, 5.0490923276697295]

In [42]:
zScoreWickets = findZScore(bowlers["Wickets"].tolist(), meanBowl[0], stdDevBowl[0])
zScoreBowlAvg = findZScore(bowlers["Bowling Average"].tolist(), meanBowl[1], stdDevBowl[1])
zScoreEconomy = findZScore(bowlers["Economy Rate"].tolist(), meanBowl[2], stdDevBowl[2])
zScoreBowlSR = findZScore(bowlers["Bowling SR"].tolist(), meanBowl[3], stdDevBowl[3])

bowlers.insert(11, "Wickets Z Scores", zScoreWickets)
bowlers.insert(12, "Bowling Avg. Z Scores", zScoreBowlAvg)
bowlers.insert(13, "Economy Rate Z Scores", zScoreEconomy)
bowlers.insert(14, "Bowling SR Z Scores", zScoreBowlSR)

bowlers

,Player Name,Nationality,Team,Matches Played,Bowling Innings,Percent of Matches Bowling,Overs Delivered,Wickets,Bowling Average,Economy Rate,Wickets Z Scores,Bowling Avg. Z Scores,Economy Rate Z Scores,Bowling SR Z Scores,Bowling SR
3,Isuru Udana,Sri Lanka,Royal Challengers Bangalore,10,10,1.000000,29.0,8,35.25,9.72,-0.733236,1.040792,1.286337,0.415916,21.7
32,Sheldon Cottrell,West Indies,Kings XI Punjab,6,6,1.000000,20.0,6,29.33,8.80,-0.953206,0.291118,0.481891,0.079222,20.0
35,Dwayne Bravo,West Indies,Chennai Super Kings,6,5,0.833333,18.0,5,31.40,8.72,-1.063192,0.553251,0.411939,0.396111,21.6
47,Trent Boult,New Zealand,Mumbai Indians,15,15,1.000000,57.2,25,18.28,7.97,1.136515,-1.108190,-0.243860,-1.168527,13.7
48,Nathan Coulter-Nile,Australia,Mumbai Indians,7,7,1.000000,26.0,5,41.20,7.92,-1.063192,1.794266,-0.287580,2.297443,31.2
49,James Pattinson,Australia,Mumbai Indians,10,10,1.000000,35.3,11,29.09,9.01,-0.403280,0.260726,0.665514,-0.059417,19.3
56,Rashid Khan,Afghanistan,Sunrisers Hyderabad,16,16,1.000000,64.0,20,17.20,5.37,0.586588,-1.244955,-2.517295,-0.079222,19.2
66,Kagiso Rabada,South Africa,Dehli Capitals,17,17,1.000000,65.4,30,18.26,8.34,1.686442,-1.110722,0.079667,-1.287360,13.1
67,Anrich Nortje,South Africa,Dehli Capitals,16,16,1.000000,61.0,22,23.27,8.39,0.806559,-0.476285,0.123387,-0.594166,16.6

In [43]:
bowlers = bowlers.loc[(bowlers["Wickets Z Scores"] > 0) & (bowlers["Bowling Avg. Z Scores"] > 0) & (bowlers["Economy Rate Z Scores"] > 0) & (bowlers["Bowling SR Z Scores"] > 0)]
bowlers

Empty DataFrame
Columns: [Player Name, Nationality, Team, Matches Played, Bowling Innings, Percent of Matches Bowling, Overs Delivered, Wickets, Bowling Average, Economy Rate, Wickets Z Scores, Bowling Avg. Z Scores, Economy Rate Z Scores, Bowling SR Z Scores, Bowling SR]
Index: []